examples/Control.json
[
    {
        "id": "045dfecc3bb82561",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "30ce5224d7d46631",
        "type": "inject",
        "z": "045dfecc3bb82561",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 460,
        "wires": [
            [
                "9e275769441bcc10"
            ]
        ]
    },
    {
        "id": "df2135864aadfcc2",
        "type": "debug",
        "z": "045dfecc3bb82561",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 560,
        "wires": []
    },
    {
        "id": "4cbe0fab4a9a0728",
        "type": "meross-smartplug",
        "z": "045dfecc3bb82561",
        "confignode": "7e7d8c9e3e8a14b2",
        "name": "",
        "device": "deviceId-1",
        "action": "energy",
        "outputs": 1,
        "outputLabeleling": "Poolfilter",
        "x": 610,
        "y": 540,
        "wires": [
            [
                "df2135864aadfcc2"
            ]
        ]
    },
    {
        "id": "43fd23a0febc8d79",
        "type": "meross-switch",
        "z": "045dfecc3bb82561",
        "confignode": "7e7d8c9e3e8a14b2",
        "name": "",
        "device": "deviceId-2",
        "action": "off",
        "outputs": 1,
        "outputLabeleling": "Schuppenschalter",
        "x": 600,
        "y": 340,
        "wires": [
            [
                "df2135864aadfcc2"
            ]
        ]
    },
    {
        "id": "9e275769441bcc10",
        "type": "meross-garage",
        "z": "045dfecc3bb82561",
        "confignode": "7e7d8c9e3e8a14b2",
        "name": "",
        "device": "deviceId-3",
        "action": "close",
        "outputs": 1,
        "outputLabeleling": "Garage",
        "x": 560,
        "y": 200,
        "wires": [
            [
                "df2135864aadfcc2"
            ]
        ]
    },
    {
        "id": "7e7d8c9e3e8a14b2",
        "type": "merosslib-config",
        "name": "",
        "username": "username",
        "password": "password"
    }
]